{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "import/extensions": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "arrowParens": "always",
        "useTabs": false
      }
    ],
    "max-len": [
      "error",
      120
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}